.gameid-min-width {
  min-width: 0;
}

.player-width {
  min-width: 100px;
  max-width: 150px;
}

.gameCanvas-width {
  width: 60vw;
  max-width: 800px;
}

.display-none {
  display: none;
}

.play-button-size {
  width: 200px;
  height: 45px;
}

.game-id-text-size {
  width: 200px;
  height: 30px;
}

.game-id-set-button-size {
  /* width: 0px; */
  height: 30px;
  display: flex; /* フレックスボックスを適用 */
  align-items: center; /* 垂直方向の中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
}
