.gameid-min-width {
    min-width: 0;
}

.player-width {
    min-width: 100px;
    max-width: 150px
}

.gameCanvas-width {
    width: 60vw;
    max-width: 800px
}

.display-none {
    display: none;
}

.play-button-size {
    width: 200px;
    height: 45px;
}
