.gameid-min-width {
  min-width: 0;
}

.player-width {
  min-width: 100px;
  max-width: 150px;
}

.gameCanvas-width {
  width: 60vw;
  max-width: 800px;
}

.display-none {
  display: none;
}

.play-button-size {
  width: 200px;
  height: 45px;
}

.game-id-text-size {
  width: 200px;
  height: 30px;
}

.game-id-set-button-size {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#remote-left,#remote-right,#set-remote {
  color: black;
}

#remote-pos {
  font-weight: bold;
}

#remote-options {
  display: none;
}
