POSTGRES_DB=djangodb
POSTGRES_NAME=djangodb
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword

# SECRET_KEY For Django
SECRET_KEY=3yRtn3J7xMywl2TBf2cojDqo4NZIJ9H2lUXp5ThVGZwi1EMJ2Pkwki2vyFwk4Q2C

# UID and SECRET for 42 OAuth2
UID="u-s4t2ud-e61d81965a94d889b0a7daae8249b278b07cc9141ff3292ae27fbe0337bf6c90"
SECRET="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"

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject

# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=changeme

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=changeme

# Version of Elastic products
STACK_VERSION=8.7.1

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824

# SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2

# ganache-cli mnemonic
MNEMONIC="myth like bonus scare over problem client lizard pioneer submit female collect"
