services:
  account:
    build: ./backend-services/account
    container_name: account
    entrypoint: "account/entrypoint.sh"
    volumes:
      - ./backend-services:/usr/src/app
    env_file: .env
    environment:
      - ENVIRONMENT=development
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    develop:
      watch:
        - action: rebuild
          path: ./backend-services/account/requirements.txt
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:8000/health/"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  gameplay:
    build: ./backend-services/gameplay
    container_name: gameplay
    entrypoint: "gameplay/entrypoint.sh"
    volumes:
      - ./backend-services:/usr/src/app
    env_file: .env
    environment:
      - ENVIRONMENT=development
    ports:
      - "8001:8001"
    depends_on:
      redis:
        condition: service_healthy
      db:
        condition: service_healthy
    develop:
      watch:
        - action: rebuild
          path: ./backend-services/gameplay/requirements.txt
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:8001/health/"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  tournament:
    build: ./backend-services/tournament
    container_name: tournament
    entrypoint: "tournament/entrypoint.sh"
    volumes:
      - ./backend-services:/usr/src/app
      - ./blockchain:/usr/src/app/blockchain
    env_file: .env
    environment:
      - ENVIRONMENT=development
    ports:
      - "8002:8002"
    depends_on:
      db:
        condition: service_healthy
    develop:
      watch:
        - action: rebuild
          path: ./backend-services/tournament/requirements.txt
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:8002/health/"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    volumes:
      - ./data/db:/var/lib/postgresql/data
    env_file: .env
    healthcheck:
      test: >
        /bin/sh -c 'pg_isready -U $${POSTGRES_USER} &&
        pg_isready -U $${POSTGRES_USER} -d $${ACCOUNT_DB_NAME} &&
        pg_isready -U $${POSTGRES_USER} -d $${GAMEPLAY_DB_NAME} &&
        pg_isready -U $${POSTGRES_USER} -d $${TOURNAMENT_DB_NAME}'
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    working_dir: /usr/src/frontend
    command: /bin/sh -c "npm install && npm run server"
    volumes:
      - ./frontend:/usr/src/frontend
    environment:
      - ACCOUNT_HOST=http://localhost:8000
      - GAMEPLAY_HOST=http://localhost:8001
      - GAMEPLAY_WS_HOST=ws://localhost:8001/gameplay.ws
      - TOURNAMENT_HOST=http://localhost:8002
    ports:
      - "3000:3000"
    depends_on:
      account:
        condition: service_healthy
      gameplay:
        condition: service_healthy
      tournament:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

  redis:
    image: redis
    container_name: redis
    healthcheck:
      test: ["CMD", "redis-cli", "localhost", "ping"]
      interval: 30s
      timeout: 30s
      retries: 5
      start_period: 30s

include:
  - ./backend-services/tournament/blockchain/blockchain.yml
