<div class="d-flex justify-content-center align-items-center vh-100 flex-column">
  <div class="alert alert-info" role="alert" id="gameId">
    game id
  </div>
  <div
    class="d-flex justify-content-center align-items-center gameid-min-width"
  >
    <h3
      id="player1"
      class="player-name text-truncate mx-2 player-width"
    ></h3>
    <canvas
      id="gameCanvas"
      class="px-2 gameCanvas-width"
    ></canvas>
    <h3
      id="player2"
      class="player-name text-truncate mx-2 player-width"
    ></h3>
  </div>
  <button type="button" id = "game-start" class="btn btn-success mt-3" data-i18n="gameplay:game_start">Game Start</button>
  <button type="button" id = "remote-mode" class="btn btn-warning mt-3" data-i18n="Remote OFF">Remote OFF</button>
  <div id="remote-options" class="display-none">
    <div class="d-flex align-items-center">
      <input type="text" id="game-id-text" class="mt-3 game-id-text-size" placeholder="Enter Game ID">
      <button type="button" id="game-id-set-button" class="btn btn-danger ms-2 mt-auto game-id-set-button-size" data-i18n="ID Set">ID Set</button>
    </div>
    <button type="button" id = "remote-right" class="btn btn-warning mt-3" data-i18n="Right">Right</button>
    <button type="button" id = "remote-left" class="btn btn-warning mt-3" data-i18n="Left">Left</button>
    <button type="button" id = "remote-set-button" class="btn btn-danger mt-3" data-i18n="Set">Set</button>
  </div>
  <div id="nextGameButton" class="mt-3 display-none">
    <a
      href="#/matches"
      class="btn btn-primary mx-2"
      data-i18n="gameplay:next_game_button"
    >To the next match</a>
  </div>
  <div id="gameOverButton" class="mt-3 display-none">
    <a
      href="#/"
      class="btn btn-primary mx-2"
      data-i18n="gameplay:back_home_button"
    >Back to home</a>
  </div>
</div>
